In [38]:
import pandas as pd
import seaborn as sns

### 2. korelasi transaksi echannel dengan saldo

#### internet banking

In [39]:
df=pd.DataFrame()
for i in range(1,6):
    df=df.append(pd.read_csv(f'omni_2_{i}.csv'))
df=df.drop(columns=['cif'])

In [40]:
len(df)

424665

In [41]:
df.corr()['saldo']

frekuensi rtg   -0.140472
frekuensi pos    0.007286
frekuensi wib   -0.023752
frekuensi clr   -0.011591
frekuensi swt    0.016943
saldo            1.000000
Name: saldo, dtype: float64

#### sms

In [52]:
df_sms=pd.read_csv('omni_2_sms.csv').drop(columns=['cif'])

In [53]:
df_sms.corr()['saldo']

frekuensi sal_dplk     0.768156
frekuensi pos          0.017101
frekuensi trf         -0.019738
frekuensi antarbank    0.060512
saldo                  1.000000
Name: saldo, dtype: float64

karena sal_dplk cuman ada 45 trx jadi rentan outlier

#### mbanking