In [122]:
import pandas as pd
import numpy as np
import csv

In [123]:
input_table=pd.read_csv("mapping_internet_omni.csv")

In [124]:
def query(table,string_cols): #string colscould be in index (int) or name of the column
    for i, row in table.iterrows():
        for j in string_cols: #jadiin string
            table.iloc[i][j]=f'"{table.iloc[i][j]}"'
            if j == 0:
                table.iloc[i][j]='('+table.iloc[i][j]
            elif j == table.shape[1]-1 and i != table.shape[0]-1:
                table.iloc[i][j]=table.iloc[i][j]+'),'
            elif j == table.shape[1]-1 and i == table.shape[0]-1:
                table.iloc[i][j]=table.iloc[i][j]+')'

In [125]:
input_table.shape[1]

3

In [126]:
query(input_table,[0,1,2])

In [127]:
input_table

          trx_type                    tx_desc                     menu
0           ("CLR"  "BANK MANDIRI TASPEN POS"  "Transfer Antar Bank"),
1           ("CLR"            "BANK MAYAPADA"  "Transfer Antar Bank"),
2           ("CLR"                "BANK MEGA"  "Transfer Antar Bank"),
3           ("CLR"      "BANK MESTIKA DHARMA"  "Transfer Antar Bank"),
4           ("CLR"    "BANK MIZUHO INDONESIA"  "Transfer Antar Bank"),
..             ...                        ...                      ...
460         ("SWT"   "PT. Bank IBK Indonesia"  "Transfer Antar Bank"),
461         ("SWT"  "STANDARD CHARTERED BANK"  "Transfer Antar Bank"),
462         ("SWT"                    "TCASH"  "Transfer Antar Bank"),
463  ("UTBK LTMPT"               "UTBK LTMPT"   "Payment Pendidikan"),
464         ("WIB"                    "HMBNK"                "Others")

[465 rows x 3 columns]

In [116]:
input_table.to_csv('kutip3.txt',index=False,header=False, quotechar='"',quoting=csv.QUOTE_NONE)